-- Additional SQL for household invitations
CREATE TABLE household_invitations (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  household_id UUID NOT NULL REFERENCES households(id) ON DELETE CASCADE,
  inviter_id UUID NOT NULL,
  invitee_email TEXT NOT NULL,
  status TEXT NOT NULL DEFAULT 'pending', -- 'pending', 'accepted', 'declined'
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW(),
  UNIQUE(household_id, invitee_email)
);

-- Create indexes for household invitations
CREATE INDEX idx_household_invitations_household ON household_invitations(household_id);
CREATE INDEX idx_household_invitations_inviter ON household_invitations(inviter_id);
CREATE INDEX idx_household_invitations_email ON household_invitations(invitee_email);
CREATE INDEX idx_household_invitations_status ON household_invitations(status);

-- Create trigger for household invitations updated_at
CREATE TRIGGER update_household_invitations_updated_at 
    BEFORE UPDATE ON household_invitations 
    FOR EACH ROW 
    EXECUTE FUNCTION update_updated_at_column();
